body {
	color: #666;
	font-family: "Helvetica Neue", Arial, sans-serif;

	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

a:link, a:visited {
	text-decoration: none;
	color: #00ACEC;
	border: none;
}


a:hover	{
	text-decoration: underline;
}

a img {
	border: none;
}

#entry_landing {
	margin-top: 60px;
	text-align: center;
}

#nav {
	display: none;

	position: fixed;
	top: 0px;
	width: 960px;
	height: 120px;

	background-color: rgba(255,255,255,.9);

	z-index: 100;
}

#nav ul {
	list-style-type: none;
	margin: 30px 0 0 0;
	padding: 0;
}

#nav ul li{
	color: #00ACEC;
	float: left;
	margin-right: 80px;
	font-size: 30px;
}

#nav ul li img:hover{
	opacity: .5;
}

#nav ul  :last-child {
	margin-right: 0px;
	float: right;
}

.section_title {
	border-bottom: 1px solid #00ACEC;
}

.section {
	min-height: 500px;

	color: #666;
	font-size: 16px;
}


.section p {
	width: 470px;
}

.section ul {
	list-style-type: none;
	margin: 10px 0 0 0;
	padding: 0;
}

.right_col {
	float: right;
	width: 470px;
}

.right_col img {
	margin-top: 20px;
	width: 470px;
}

.float_left {
	float: left;
}

#google_map {
	width: 470;
 	height: 350;
}

#store_logos img {
	margin-right: 16px;
}

#store_logos img:hover{
	opacity: .5;
}
